.content {
    grid-area: c;
    background-color: #78608b;
}

.content img {
    height: 230px;
    width: 900px;

}

.profileWrapperContent {
    grid-area: auto;
    background-color: rgba(114, 117, 117, 0.95);
}
.impSize img{
    height: 730px;
    width: 1650px;
}
