.content{
    grid-area:c;
    background-color: #78608b;
}
.content img {
    height: 230px;
    width: 900px;

}
.formSummaryError {
    border: none;
    color: #f83030;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
}

.profileWrapperContent {
    grid-area:auto;
    background-color: rgba(114, 117, 117, 0.95);
}
.mainPhoto {
    height: 145px;
    width: 145px;
    border-radius: 19%;
}

.impSize img{
    height: 730px;
    width: 1650px;
}
.contacts{
    padding-left: 15px;
    color: #443da2;
}
.userInfo{
    padding-left: 8px;
}