.content{
    grid-area:c;
    background-color: #78608b;
}
.content img {
    height: 230px;
    width: 900px;

}

.profileWrapperContent {
    grid-area:auto;
    background-color: rgba(114, 117, 117, 0.95);
}
.mainPhoto {
    height: 45px;
    width: 45px;
}