.imgClas {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems  {
    padding: 2px;
    color: #8a4141;
}

/*.imgClas img {
    width: 1680px;
    height: 1025px;
}*/

.backgroundIMG {
    display: grid;
    grid-template-columns: 2fr 10fr;
    width: 1680px;
    height: 1025px;
    background-image: url("https://abrakadabra.fun/uploads/posts/2022-03/1647177728_9-abrakadabra-fun-p-fon-dlya-saita-shkoli-10.png");
}

.dialogItem .active {
    color: gold;
}

.dialogItem  {
    padding-left: 50px;
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: #480a32;

}

.message {
    padding-left: 50px;
    padding-top: 50px;
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: #2e811d;
}
